.item-section{
    background-color: hsl(224, 77%, 96%);
}

.list-item{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: space-between;

}

.btn-delete{
    color: white;
    background-color: rgba(26, 73, 203, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.item-input-container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid rgb(129, 28, 196,0.1);
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.3);
    border-radius: 3px;
    background:#edf1fd;

}

.item-input-container:focus-within{
    border:1px solid rgb(129, 28, 196);
    transition: border 0.5s;
}

#add-item-btn{
    color:white;
    width:40%;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    background-color: rgb(129, 28, 196);
    cursor: pointer;
    z-index: 1;

}

#itemName{
    width:60%;
    border-radius: 3px 3px 3px 3px;
}

input[id=itemName]:active, input[id=itemName]:focus, input[id=itemName]{
    border:none;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    padding:8px;
}


#item-input-form{
    margin-bottom:2rem;
}

.list-item-container{
    display:flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    padding:1rem;
    max-height: 50vh;
}

.list-item{
    color: rgb(19, 40, 97);
    border-bottom: 1px solid #cacedb;
    padding:0;
    margin-bottom:0.7rem;

}

.list-item > span{
    font-weight: 300;
}

.delete-item-btn{
    color:rgba(207, 16, 16, 0.678);
    font-size: 1.25rem;
}

#input-and-buttons-container{
    padding:1rem;
}