main{
    border-radius: 4px 4px 0 0;
    margin:2rem 1rem 1rem 1rem;
    flex:1;
    background-color: #e2e2e2;
    align-self: stretch;
    justify-self: stretch;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.3);

}

.logo-container{
    border-radius: 4px 4px 0 0;
    color: #ffffff;
    padding: 1.5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, hsl(224, 77%, 45%), rgb(129, 28, 196));
}
h1{
    font-weight: 300;
}

.logo{
    font-size: 2rem;
}