*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul{
  list-style: inside;
}

html, body{
  max-height:100vh;
  width:100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  padding:1rem;
  display: block;
  
}

button{
  line-break: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(102, 30, 149);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border: 1px solid rgba(26, 73, 203, 0.2);
  box-shadow: 1px 1px 3px rgba(0,0,0, 0.3);
  background:white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}